<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/services">Our Services</a>
    <a href="/contact">Contact us</a>
  </nav>

  <h1>Welcome to the Home Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum enim sit amet gravida viverra. Aliquam commodo malesuada sapien et malesuada. In scelerisque, nisl vitae mollis pretium, quam ipsum porta mauris, vel hendrerit eros velit id sapien. Nam congue, neque et accumsan dapibus, velit velit egestas libero, vel ullamcorper ipsum nisl eget nunc. </p>
</body>
</html>
